/*
 *  Proximity component
 *  (see proximity view style module for implementation)
 * --------------------------------------------------*/

// Variables
// -------------------------
@pe-bg-color: rgba(0,0,0,0.4);
@pe-text-color: #fff;
@pe-link-color: #fff;
@pe-link-color-hover: @gray-lighter;


// Mixins
// -------------------------

//
// specific proximity item
.specific-pe-item(@x; @y; @w: auto; @h: auto) {
  /* specific proximity event item */
  top: @y;
  left: @x;

  a {
    .views-field-field-image {
      width: @w;
      height: @h;
    }
  }
}


// General settings
// -------------------------
.pe-container {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  #proximity-ajax-loader {
    #pxl-mixins.center-vertically;
    width: 100%;
    text-align: center;

    img {
      display: inline-block;
    }
  }

  .pe-background-image {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 0;

    &:before {
      /* adds a transparent colored filter mask to the cover image */
      display: none;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(192,192,192, 0.2);
    }
  }

  .pe-item {
    display: inline-block;
    position: absolute;
    margin: 0;
    width: auto !important;

    .pe-item-inner {
      a {
        &.btn {
          padding: 0;
          vertical-align: top;
          outline: none;
        }
        &.btn:active,
        &.btn.active {
          box-shadow: none;
          outline: none;
        }

        .views-field-field-image {
          display: inline-block;

          img {
            opacity: 0.0;
            max-width: 100%;
            height: auto;
          }
        }

        .views-field-title {
          display: none;
        }

        .views-field-field-beat-file {

        }
      }
    }

  }

  .modal {
    .modal-backdrop {
      background-color: transparent;
    }

    .modal-dialog {
      position: absolute;
      left: 5%;
      top: 5%;
      margin: 0 ;
      width: 90%;
      max-height: 90vh;

      @media @tablet {
        top: 20%;
        left: 20%;
        width: 60%;
      }

      .modal-content {
        height: 100%;
        border: none;
        border-radius: 0;
        box-shadow: none;
        color: @pe-text-color;
        background-color: @pe-bg-color;

        .modal-header {
          width: 100%;
          border: none;

          .modal-title {
            font-family: @pxl-title-font;
            font-size: 18px;
          }

          button.close {
            position: relative;
            margin: -25px 0 0;
            font-family: @font-family-sans-serif;
            font-size: 70px;
            font-weight: 500;
            color: @pe-link-color;
            text-shadow: none;
            opacity: 1;
            z-index: @zindex-modal+1;

            &:hover {
              color: #fff;
              text-shadow: #aaa 1px 0px 2px;
            }
          }
        }

        .modal-body {
          padding: 20px;
          font-size: 16px;

          a {
            font-family: @pxl-text-font;
            color: @pe-link-color;
            outline: none;

            &:hover {
              color: @pe-link-color-hover;
              outline: none;
            }
          }

        }

        .modal-footer {
          display: none;
        }
      }

    }
  }

  .pe-content-container {
    display: block;
    position: fixed;
    bottom: 30px;
    left: 0;
    width: 100%;
    font-family: @pxl-special-font;
    font-size: @font-size-h2;
    text-align: center;
    color: @text-color;

    .content {
      display: inline-block;
      z-index: 20;
    }
  }

}

